<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
   <section id="main-slider">
        <div class="owl-carousel">
            <div class="item" style="background-image: url(images/bg1.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-10 text-center">
                                <div class="carousel-content">
                                    <h2>CCTV installation</h2>
                                    <p>We do CCTV installation for Homes,Business,Schools,Hospital</p>
                                    <a class="btn btn-primary btn-lg" href="#">Find Out More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
             <div class="item" style="background-image: url(images/bg2.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-10 text-center">
                                <div class="carousel-content">
                                    <h2>You best tech Company in town Come Let us solve you problems</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<br>

tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                                    <a class="btn btn-primary btn-lg" href="#">Find Out More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.owl-carousel-->
    </section><!--/#main-slider-->



    <section id="services" >
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Our Services</h2>
                <p class="text-center wow fadeInDown">A Tech company that comes to you door step. We provide the best of services when it comes to technology.Some of our services are listed below</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <img src="images/icon1.png" alt="img">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Responsive Web Developement</h4>
                                <p> BSL has been supporting its customers to accomplish upper hand at the commercial center by giving faultless </p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <img src="images/icon2.png" alt="img">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Networkin and Fiber Installation</h4>
                                <p>n reality as we know it where innovative changes happen now and again, it is paramount that a chosen business solution is the correct one for that time and the not so distant future.</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <img src="images/icon3.png" alt="img">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Oracle Based Software</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur 
ing elit, sed do eiusmod tempor incididunt ut
labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipis
ing elit, sed do eiusmod .</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="media service-box">
                            <div class="pull-left">
                               <img src="images/icon4.png" alt="img">
                            </div>
                            <div class="media-body">
                               <h4 class="media-heading">Java Solutions</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur 
ing elit, sed do eiusmod tempor incididunt ut
labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipis
ing elit, sed do eiusmod .</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                        <div class="media service-box">
                            <div class="pull-left">
                               <img src="images/icon5.png" alt="img">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">CCTV Installation</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur 
ing elit, sed do eiusmod tempor incididunt ut
labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipis
ing elit, sed do eiusmod .</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                        <div class="media service-box">
                            <div class="pull-left">
                                <img src="images/icon6.png" alt="img">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Computer Accessories</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur 
ing elit, sed do eiusmod tempor incididunt ut
labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum dolor sit amet, consectetur adipis
ing elit, sed do eiusmod .</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#services-->


        <section id="portfolio">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">What we have Done </h2>
                <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="text-center">
                <ul class="portfolio-filter">
                    <li><a class="active" href="#" data-filter="*">All</a></li>
                    <li><a href="#" data-filter=".creative">CCTV Installation</a></li>
                    <li><a href="#" data-filter=".corporate"> Web Dev </a></li>
                    <li><a href="#" data-filter=".portfolio">Networking </a></li>
                    <li><a href="#" data-filter=".portfolio">Media </a></li>
                </ul><!--/#portfolio-filter-->
            </div>

            <div class="portfolio-items">
                <div class="portfolio-item creative">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/cctv1.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>CCTV Installation</h3>
                            We ensure you are secured
                            
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate portfolio">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/cctv3.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>CCTV Camera</h3>
                            Be save where you are with CCTVs
                            
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item creative">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/webdev2.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>WEB DEV</h3>
                            More than just a software developers.
                            
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/work_4.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Software Dev</h3>
                            Get the best Web developement Services.
                            
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item creative portfolio">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/net1.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Networking</h3>
                            We do best of Networking cables connection
                            
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/comp.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Computer Accessories</h3>
                            Get the best Deal in town
                           
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item creative portfolio">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/net2.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>NetWorking</h3>
                            The best network installation company.
                            
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item corporate">
                    <div class="portfolio-item-inner">
                        <img class="img-responsive" src="images/webdev.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Web Dev</h3>
                            The best software developer.
                           
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
            </div>
        </div><!--/.container-->
    </section><!--/#portfolio-->

     <section id="meet-team">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Meet The Team</h2>
                <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="team-img">
                            <img src="images/syl.jpg" alt="" >
                        </div>
                        <div class="team-info">
                            <h3>Sylvester Tarus</h3>
                            <span>Co-Founder CEO</span>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="team-img">
                            <img src="images/team_2.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Sharon Jerop</h3>
                            <span>Managing Director</span>
                        </div>
                       
                        
                    </div>
                </div>

                  <div class="col-sm-6 col-md-3">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="team-img">
                            <img src="images/maureen.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Maureen</h3>
                            <span> Sales Manager</span>
                        </div>
                       
                        
                    </div>
                </div>
               

                  <div class="col-sm-6 col-md-3">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="team-img">
                            <img src="images/wilz.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Kosgei Wilson</h3>
                            <span> Software Engineer</span>
                        </div>
                       
                        
                    </div>
                </div>
               
                
            </div>

            
            
        </div>
    </section><!--/#meet-team-->


    <!--/#blog-->
    
    <section id="testimonial">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">testimonials</h2>
                <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="row">
                <div class="col-sm-6">
                <div class="panel-one">
                <div class="user-img"><img alt="" src="images/testimonail_1.jpg"></div>
                <div class="testi-info">
                <h4>Jonathon Andrew</h4>
                <h5>Lorem ipsum dolor sit amet</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
                </div>
                
                
                </div>
                <div class="col-sm-6">
                <div class="panel-one">
                <div class="user-img"><img alt="" src="images/testimonail_2.jpg"></div>
                <div class="testi-info">
                <h4>Jonathon Andrew</h4>
                <h5>Lorem ipsum dolor sit amet</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
                </div>
                
                
                </div>
                <div class="col-sm-6">
                <div class="panel-one">
                <div class="user-img"><img alt="" src="images/testimonail_3.jpg"></div>
                <div class="testi-info">
                <h4>Jonathon Andrew</h4>
                <h5>Lorem ipsum dolor sit amet</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
                </div>
                
                
                </div>
                <div class="col-sm-6">
                <div class="panel-one">
                <div class="user-img"><img alt="" src="images/testimonail_4.jpg"></div>
                <div class="testi-info">
                <h4>Jonathon Andrew</h4>
                <h5>Lorem ipsum dolor sit amet</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doeiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
                </div>
                
                
                </div>
                
                
                
                
                
                

            </div>

        </div>
    </section> <!--/#testimonial-->


     <section id="get-in-touch">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">CONTACT US</h2>
                <p class="text-center wow fadeInDown">Your fast caring tech company in town</p>
            </div>
            
            <div class="row">
            <div class="col-sm-6">
            <div class="address">
            <h4>Address</h4>
            <p>PO BOX 3830 ElDORET</p>
            </div>
            
            <div class="address">
            <h4>Phone </h4>
            <p>0728517487/0717890426</p>
            </div>
            
            <div class="address">
            <h4>Email</h4>
            <p><a href="#">info@sylwilz.com </a></p>
            </div>
            
            <div class="address">
            <h4>Follow Us</h4>



            <p><a href="#"><i class="fa fa-facebook"></i></a>  &nbsp; <a href="#"><i class="fa fa-twitter"></i></a> &nbsp; <a href="#"><i class="fa fa-google-plus"></i></a></p>
            </div>
            </div>
            
            <div class="col-sm-6">
            
            <form action="#" method="post" name="contact-form" id="main-contact-form">
                                <div class="form-group">
                                    <input type="text" required placeholder="Name" class="form-control" name="name">
                                </div>
                                <div class="form-group">
                                    <input type="email" required placeholder="Email" class="form-control" name="email">
                                </div>
                                <div class="form-group">
                                    <input type="text" required placeholder="Subject" class="form-control" name="subject">
                                </div>
                                <div class="form-group">
                                    <textarea required placeholder="Message" rows="8" class="form-control" name="message"></textarea>
                                </div>
                                <button class="btn btn-primary" type="submit">SUBMIT</button>
                            </form>
            </div>
            
            
            </div>
            
            
        </div>
    </section><!--/#get-in-touch-->

    
  </div>

</body>
<% include partials/script %>
</html>